body {
    margin: 0;
    /* background-image: url(pic/bgg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo {
    width: 180px;
}

.logo img {
    height: 55%;
    width: 50%;

}
nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}
a   {
    text-decoration: none;
    color: black;
}
nav a{
    color: black;
}
.nav a{
    margin-right: 10px;
    font-weight: 500;
} 

main {
    margin: 8%;
}

.firstSection {
    display: flex;
    justify-content: space-between;
}

.firstSection h1 {
    margin: 0;
    font-size: 3em;
}


/* second section styles */
.secondSection {
    margin-top: 20%;
    margin-bottom: 5%;
}
.secondSection > .secondSectionProp {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.secondSectionProp img {
    border-radius: 15px;
    height: 80%; width: 90%;
}
.secondSectionPropFirstImg {
    width: 100%;
}

.secondSectionProp a:hover {
    text-decoration: underline;
    filter: grayscale(40%);
    -webkit-filter: grayscale(40%);
    -moz-filter: grayscale(40%);
}

.thirdSection {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}

.thirdSection a, .fourthSection a{
    color: white;
    background-color: rgb(53, 117, 139);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 0.9em;
}

.thirdSection a:hover, .fourthSection a:hover {
    background-color: rgba(58, 109, 126, 0.877);
    transition: 0.8s;
}

.fourthSection {
    display: flex;
    justify-content: space-between;
    
}


.fourthSection h2{
    font-size: 2em;
}

.fourthLeft, .fourthRight {
    width: 50%;
}

.fourthRight{
    overflow: scroll;
}

.fourthLeft > div,
.fourthRight a {
    line-height: 3em;
}

.fourthSection input {
    border: thin solid rgba(192, 192, 192, 0.678);
    padding: 15px 30px;
    width: 35%;
    font-size: 1em;
}
.fourthLeft button {
    margin-top: 10px;
    width: 93%;
    padding: 0 30px;
    color: white;
    background-color: rgba(255, 0, 0, 0.767);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.fourthLeft button:hover {
    background-color: rgba(255, 0, 0, 0.678);
}


.fifthSection, .sixthSection, .sevenSection{
    margin: 60px 0;
}
.fifthSectionHead, .fifthSectionProp .svg, .ninthSectionHead {
    text-align: center;
}
.fifthSectionProp .svg h3 {
    color: rgb(53, 117, 139);
}
.fifthSectionHead h2, .sixthSectionHead  h2,
.sevenSectionHead h2, .ninthSectionHead h2 {
    font-size: 2em;
}
.fifthSectionProp{
    display: flex;
    justify-content: space-between;
    margin: 60px 10px;
}

.fifthSection .btn {
    color: white;
    background-color: rgb(53, 117, 139);
    border-radius: 10px;
    padding: 15px 30px;
    border: none;
 
}
.fifthSection .btnDiv{
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
}
.cardOne, .cardTwo,
.cardThree, .cardFour {
    width: 30%;
    cursor: pointer
}
.cardImg{
    position: relative;
    font-size: 1em;
}
.cardsVideo {
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    display: inline;
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: bold;
    font-size: 0.7em;
}
.cardsVideo:hover{
    letter-spacing: 1px;
    transition: 1s;
    
}
.cards a{
    color: black;
}
.cardOne img{
    border-radius: 10px;
}
.sixthSectionHead, .sevenSectionHead {
    display: flex;
    justify-content: space-between;
}
.sixthSectionHead a, .sevenSectionHead > a {
    font-size: 1em;
    margin-top: 35px;
    color: rgb(53, 117, 139);
}
.time {
    color: rgba(49, 49, 49, 0.767);
}

.imgIcons {
    display: flex;
    justify-content: space-between;
}
.imgCircle img {
    border-radius: 50%;
    border: 5px white;
    
}
.fa-solid {
    color: silver;
}

.imgShift {
   margin-left: -20px;
   border: 5px solid rgba(255, 255, 255, 0.726);
}


/* seventh section styles starts */

.sevenSectionCards {
    display: flex;
    justify-content: space-between;
}
.sevenSectionCard {
    width: 360px;
    height: 203px;
    border: thin solid silver;
    border-radius: 8px;
}
.sevenSectionCardTop {
    display: flex;
    justify-content: space-between;
}

.sevenSectionCardTop img {
    margin: 20px;
}

.newGroup {
    color: rgb(53, 117, 139);
}
.newsTop {
    color:black;

}

.sevenSectionCardTopContent {
    margin-top: -5px;
}

hr {
    color: rgba(224, 219, 219, 0.26);
}

.timeSeven {
    font-size: 1em;
}
.sevenSectionCardContent {
    padding: 0 20px;
    color:rgba(102, 97, 97, 0.815);
    width: 90%;
}

/* styles for the eighth div */

.eightSection {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.eightSectionCenterDiv > div  {
    margin-top: 35px;
}
.eightSectionCenterDiv{
    text-align: center;
    margin-top: 5px;
}
.eightSectionCenterDiv h3{
    font-weight: 700;
}
.eighthDivPhoneImg img{
    height: 350px;
}
.eightSectionCenterDiv img{
    height: 80px;
}

.eightSectionCenterDownloadBtn span, .footerOnlineDirLinksRight span{
   margin: 10px;
}
.capitalize {
    text-transform: capitalize;
}
/* ninth secttion styles */
.ninthSection {
    margin-top: 200px;
}

.ninthSectionCards {
    display: flex;
    justify-content: space-between;
}

.ninthSectionCard{
    width: 360px;
    height: 399px;
}

.ninthSection a img:hover {
    filter: grayscale(40%);
    -webkit-filter: grayscale(40%);
    -moz-filter: grayscale(40%);
}
.ninthSection .capitalize:hover {
    text-decoration: underline; 
}
.ninthSection a p:hover {
    text-decoration: none;
}

/* footer styles */

footer {
    background-color: rgba(0, 0, 0, 0.877);
    color: white;
    padding: 20px 100px;
}
.footerHead{
    display: flex;
}

.footerHeadBtn{
    margin-left: 30px;
    border: 3px solid white;
    padding: 17px 20px 0;
    border-radius: 5px;
}
.footerHeadBtn a {
    color: white;
}

.footerNavs {
    display: flex;
    justify-content: space-between;
}

.footerNavs a li{
    color: silver;
    list-style-type: none;
    margin-top: 10px;
}

.footerOnlineDirLinks {
    display: flex;
    justify-content: space-between;
}
.footerOnlineDirLinksLeft i{
    margin: 10px;
    font-size: 1.7em;
    color: silver;
}
.licence {
    margin: 20px 0;
}

.licence a {
    color: silver;
    margin: 20px;
    font-size: 0.8em;
    font-weight: 450;
}

/* responsiveness */

@media only screen and (max-width: 700px) {
    .firstSection{
        display: block;
    }

    .firstSection div {
        width: 100%;
    }

    .firstSection h1 {
        margin: 0;
        font-size: 2em;
    }

    /* second section resp */

    .secondSection > .secondSectionProp {
        display: block;
        text-align: center;
    }

    /* third sectionresp */
    
    .thirdSection {
        justify-content: space-around;
    }

    .thirdSection {
        flex-wrap: wrap;
        height: 100px;
    }
 
    .thirdSection a{
        margin-top: 10px;
    }

    /* fourth section resp */
    .fourthSection {
        display: block;
        
    }
    
    .fourthLeft, .fourthRight {
        width: 100%;
    }
    
    /* fifth section styles resp */
    .fifthSectionProp{
        display: block;
    }

    .sixthSectionHead {
        display: block;
    }
    .cards {
        display: block;
        /* width: 100%; */
    }
    .cardOne, .cardTwo,
    .cardThree, .cardFour {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        
    }

    .cardsVideo {
        position: absolute;
        left: 75px;
        font-weight: bold;
        font-size: 0.7em;
    }

    /* sevenSection resp*/

    .sevenSectionCards {
        display: block;
    }
    .sevenSectionCard {
        width: 100%;
        height: 203px;
    }
    
    /* eigth section resp style */
    .eighthDivPhoneImg img {
        height: 150px;
    }
    .eightSectionCenterDiv img{
        height: 50px;
    }

    /* ninth section resp */
    .ninthSectionCards {
        display: block;
    }
    
    .ninthSectionCard{
        width: 100%;
    }

    /* footer  resp*/
    .footerNavs {
        display: block;
    }

}